<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>platzi-music</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <style type="text/css">
      #app .container {
        max-width: 600px;
      }
       #app .titulo {
        width: 50%;
      }
       #app .custom {
        margin-top: 30px;
      }
       #app .is-x {
        float: right;
      }
       #app .isEmpty {
        text-align: center;
        font-size: 20px;
        margin-bottom: 25px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <section class="section">
          <div class="container">
              <h1 class="title">Lista de tareas</h1>
              <div class="box">
                  <h3 class="subtitle"><i>{{ name }}</i></h3>
                  <div class="box" v-for="(t,i) in tasks">
                    <span>{{ t.title }} | {{ t.time }}</span>
                    <button class="button is-danger is-small is-x" @click="removeTask(i)">&times;</button>
                  </div>
                  <div class="isEmpty" v-show="isEmpty">
                    <p>¡No tiene ninguna tarea <strong>🙁</strong> !</p>
                    <p>Presione <span>agregar</span> para crear una nueva tarea</p>
                  </div>
                  <form class="field has-addons" @submit.prevent="addTask">
                    <div class="control is-expanded">
                      <input class="input" v-model="newTask.title" type="text" placeholder="Titulo" required="required" />
                    </div>
                    <div class="control">
                      <input class="input" v-model="newTask.time" type="time" required="required" />
                    </div>
                    <div class="control">
                      <button class="button is-primary" type="submit">Agregar</button>
                    </div>
                  </form>
              </div>
              <p>Total de horas: <strong>{{ total }}</strong></p>
          </div>
      </section>
    </div>
  </body>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data () {
        return {
          name: 'Mis tareas',
          tasks: [],
          newTask: {
            title: null,
            time: null
          }
        }
      },
      created () {
        const tasks = localStorage.getItem('tasks')
        console.log(tasks)
        if (tasks) {
          this.tasks = JSON.parse(tasks)
        }
      },
      methods: {
        setTasks () {
          localStorage.setItem('tasks', JSON.stringify(this.tasks))
        },
        addTask () {
          const newTask = JSON.parse(JSON.stringify(this.newTask))
          this.tasks.push(newTask)
          this.setTasks()
          this.clean()
        },
        clean () {
          this.newTask = {
            title: null,
            time: null
          }
        },
        removeTask (id) {
          this.tasks.splice(id, 1)
          this.setTasks()
        }
      },
      computed: {
        total () {
          let hours = 0
          let minuts = 0
          this.tasks.forEach(task => {
            const time = task.time.split(':')
            hours += parseInt(time[0])
            minuts += parseInt(time[1])
          })
          return `${hours}:${minuts} `
        },
        isEmpty () {
          if (this.tasks.length) {
            return false
          }
          return true
        }
      }
    })
  </script>
</html>
